---
name: test

on:
  push:
    branches:
    - master
    tags:
    - v*
  pull_request:
env:
  DEBIAN_FRONTEND: noninteractive
jobs:
  lint:
    uses: mackerelio/workflows/.github/workflows/go-lint.yml@6cab415574bf67882182b34516fd2934b9dc5800 # v1.7.0
  test:
    uses: mackerelio/workflows/.github/workflows/go-test.yml@52736435ff08612880b76fd6618ca82ae7bba420 # v1.8.0
  integration-test:
    uses: mackerelio/workflows/.github/workflows/setup-go-matrix.yml@6cab415574bf67882182b34516fd2934b9dc5800 # v1.7.0
    with:
      run: make testmetric
      # For now, neither macos-12 or -13 runners does not have Docker toolbox.
      # Furthermore windows runners fails to authenticate the client with a credential.
      # Thus we drop these OSes from default OSes defined in setup-go-matrix workflow.
      os-versions: '["ubuntu-22.04"]'
