---
name: test

on:
  push:
    branches:
    - master
    tags:
    - v*
  pull_request:
env:
  DEBIAN_FRONTEND: noninteractive
jobs:
  lint:
    uses: mackerelio/workflows/.github/workflows/go-lint.yml@c7e130d3908894f18068ca4a877e80539b535881 # v1.5.0
  test:
    uses: mackerelio/workflows/.github/workflows/go-test.yml@c7e130d3908894f18068ca4a877e80539b535881 # v1.5.0
  integration-test:
    uses: mackerelio/workflows/.github/workflows/setup-go-matrix.yml@c7e130d3908894f18068ca4a877e80539b535881 # v1.5.0
    with:
      run: make testmetric
      # For now, neither macos-12 or -13 runners does not have Docker toolbox.
      # Furthermore windows runners fails to authenticate the client with a credential.
      # Thus we drop these OSes from default OSes defined in setup-go-matrix workflow.
      os-versions: '["ubuntu-22.04"]'
